.SelectContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: -0.4rem -1.6rem;
}

.Select_ItemContainer {
  margin: .4rem 1rem;
}
.Select_Item {
  font-weight: 600;
  display: block;
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
  font-size: 1.4rem;
}
.Select_Item::before {
  content: "";
  display: block;
  width: 1.3rem;
  height: 1.3rem;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid var(--c-black);
}
.Select_ItemChecked::before {
  background: var(--c-black);
}
