.Container {
  padding: 0 2rem;
}

.Inner {
  max-width: 80rem;
  margin: 0 auto;
}

.SelectContainer {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding: 0;
  margin: -0.4rem -1.6rem;
}

.Select_ItemContainer {
  flex: 0 0 14.28571%;
  padding: 0.4rem 1.6rem;
}
.Select_Item {
  font-weight: 600;
  display: block;
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
}
.Select_Item::before {
  content: "";
  display: block;
  width: 1.3rem;
  height: 1.3rem;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid var(--c-black);
}
.Select_ItemChecked::before {
  background: var(--c-black);
}
