.Container {
  padding: 8rem 5vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Inner {
  max-width: 80rem;
  flex: 1;
}
.Header {
  margin-bottom: 4rem;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .Container {
    padding: 6rem 5vw;
  }
}
