.Container {
  padding: 8rem 5vw;
}
.Inner {
  max-width: 80rem;
  margin: 0 auto;
}
.Header {
  margin-bottom: 4rem;
}

@media screen and (max-width: 900px) {
  .Container {
    padding: 6rem 5vw;
  }
}
