.Container {
  margin: -0.4rem;
}

.Container__Align_Center {
  text-align: center;
}
.Container__Align_Right {
  text-align: right;
}

.Item {
  margin: 0.4rem;
  font-weight: 600;
  display: inline-block;
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
  font-size: 1.4rem;
  appearance: none;
  border: none;
  background: none;
}
.Item::before {
  content: "";
  display: block;
  width: 1.3rem;
  height: 1.3rem;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid var(--c-black);
}
.ItemChecked::before {
  background: var(--c-black);
}
